In [1]:
# IMPORTING USEFUL LIBRARIES

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn import svm
import joblib

In [3]:
# LOADING THE DATASET 

data = pd.read_excel('TOTAL.xlsx')
data.head()

,Unnamed: 0,1,2,3,4,5,6,7,8,9,...,82,83,84,85,86,87,88,89,90,TYPE
0,1,1,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,ONE
1,2,1,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,ONE
2,3,1,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,ONE
3,4,1,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,ONE
4,5,1,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,ONE

In [4]:
# DROPED THE UNWANTED COLUMN 'Unnamed: 0'

data = data.drop(columns=['Unnamed: 0'])
data.head()

,1,2,3,4,5,6,7,8,9,10,...,82,83,84,85,86,87,88,89,90,TYPE
0,1,0,0,0,0,0,0,0,0,1,...,1,0,0,0,0,0,0,0,0,ONE
1,1,0,0,0,0,0,0,0,0,1,...,1,0,0,0,0,0,0,0,0,ONE
2,1,0,0,0,0,0,0,0,0,1,...,1,0,0,0,0,0,0,0,0,ONE
3,1,0,0,0,0,0,0,0,0,1,...,1,0,0,0,0,0,0,0,0,ONE
4,1,0,0,0,0,0,0,0,0,1,...,1,0,0,0,0,0,0,0,0,ONE

In [5]:
# CHECKED THE SHAPE OF DATASET data
data.shape

(47578, 91)

In [6]:
# FOR TRAINING WE SPLIT DATASET TO FEATURES AND TARGET AS X AND Y 

X = data.drop(columns=['TYPE'])
Y = data.TYPE

In [7]:
x_train, x_test, y_train, y_test = train_test_split(X,Y,test_size=.25,random_state=25)

In [8]:
# AFTER HYPERPARAMETER TUNING WE FOUND SVM WORKS WELL, CREATED A PREDICTING MODEL USING SVM

model = svm.SVC( C=5,
    kernel='poly')
model.fit(x_train,y_train)
model.score(x_test,y_test)

1.0

In [9]:
# SAVING THE MODEL USING JOBLIB

joblib.dump(model,'Enneagram_predicting_model')

['Enneagram_predicting_model']